<h3>Please choose a page to test SQL injection with our without Nemesida WAF</h3>
<h3>Without Nemesida WAF</h3>
<a href=/nonwaf/1>Simple SQL injection test</a><br>
<a href=/nonwaf/2>Get DB table column count, DB name, DB table names</a><br>
<a href=/nonwaf/3>Get auth_inf table comlumns</a><br>
<a href=/nonwaf/4>Get administrator password</a><br>

<h3>With Nemesida WAF</h3>
<a href=/nwaf/1>Simple SQL injection test</a><br>
<a href=/nwaf/2>Get DB table column count, DB name, DB table names</a><br>
<a href=/nwaf/3>Get auth_inf table comlumns</a><br>
<a href=/nwaf/4>Get administrator password</a><br>
